@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;

}

* {
    margin: 0px;
    padding: 0px;

}

a.externo::after {
    content: '\1F517';
}

:root {
    --cor0:#ebe5c5;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android:'Android', cursive;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    
}


header {
    background-color: var(--cor4);
    min-height: 150px;
    text-align: center; /*Se não funcionar no header, tentar diretamente nos filhos*/
    padding-top:40px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
}

header > h1 {
    color:white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.452);
}

header > p {
    color:white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px; /*Esses paddings servem para o texto não ficar colado nas laterais quando houver a diminuição da tela*/
}

nav {
    background-color: var(--cor5);
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.486);
    padding: 10px;
    padding-top: 20px;

}

nav > a {
    color:white;
    padding:10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor4);
    border-radius: 8px;
}

main {
    background-color: white;
    padding: 20px;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
}

main img {
    width:100%;
}

main img.pequeno{
    max-width: 350px;
    display: block;
    margin: auto;

}

main h1{
    color: var(--cor4);
    font-family: var(--fonte-android);

}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
}


main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.2em;
}

main a {
    text-decoration: none;
    color: white;
    background-color: var(--cor3);
    border-radius: 5px;
    font-weight: bold;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

main strong {
    color: var(--cor4);
    font-weight: bold;

}

div.video {
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;

}

div.video >iframe {
    position: absolute;
    top:5%;
    left:5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.479);
}

aside>h3{
    background-color: var(--cor4);
    color: white;
    padding: 3px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor2);
}